<% layout("layouts/boilerplate") -%>

<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
    }   
    .filter{
        margin-right: 3rem;
        text-align: center;
        margin-top: 1rem;
        cursor: pointer;
        opacity: 0.7;

    } 
    .filter:hover{
        opacity: 1;
    }

    .filter p{
        font-size: 0.8rem;
    }
</style>

<div id="filters">
    <div class="filter">
        <div> <i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Beds</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Campling</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>Boats</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-tree-city"></i></div>
        <p>Treehouses</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-suitcase"></i></div>
        <p>Unique spaces</p>
    </div>
</div>
<!-- <h1>All Listings</h1> -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <% for(let listing of listings){ %>
        <div class="col">
        <div class="card">  
            <!-- we can add this class for image  ~~~show-page-img~~~ -->
            <a href="/listings/<%= listing.id %>"><img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
            <div class="card-img-overlay"></div>
            </a>

            <div class="card-body">
            <p class="card-text">   
                <i class="fw-semibold" ><%= listing.title %></i><br>
                &#8377;<%= listing.price.toLocaleString() %> / day<br>
                <%= listing.location %>,
                <%= listing.country %><br>
            </p>
            </div>
        </div>
        </div>
    <% } %>
</div>


